.env
**/__pycache__/**

unsloth_training_checkpoints
unsloth_compiled_cache
training_log.json
wandb
batch_saved_models*
inference_results
batch_outputs
inference_yaml
unsloth_finetune_and_inference_old.py
unsloth_finetune_old.py